:root{
    --primary-color: ;
    --secondery-color: ;
    
}


    

body {
    padding:0;
    margin:0;
 }

.home{
    list-style: none;
}
.home a{
    color: black;
    text-decoration: none;
}

/* Mobile Screen View */
@media (max-width: 767px) { 

    #Home{
        padding-top: 1rem;
        display: flex;
        justify-content: end;
        overflow-x: hidden;
    }

    .home{
        display: flex;
        order: 1;
        
    }
    .home a{
        margin-right: 1rem;
    }

    .home, .social-media, .phone{
        visibility: hidden;
        z-index: 1;
    }

    .menu{
        z-index: 0;
        order: 1;
    }
    
}


/* Small Screens Laptop */
@media (min-width: 768px) and (max-width: 1024px){
    #Home{
        padding-top: 1rem;
        display: flex;
        justify-content: space-around;
        overflow-x: hidden;
    }

    #Home img{
        height: 3rem;
    }
    .menu{
        visibility: hidden;
    }

    .home{
        visibility: visible;
        display: flex;
    }

    .home a{
        margin-right: 3rem;
        
    }

    .phone{
        display: flex;
        align-items: center;
    }

    .phone p{
        visibility: hidden;
        order: -1;
    }

    .social-media{
        margin-right: .5rem;
    }
}


/* Desktop Large Sreens */
@media (min-width: 1024px){
    #Home{
        padding-top: 1rem;
        display: flex;
        justify-content: space-around;
        overflow-x: hidden;
    }

    .menu{
        visibility: hidden;
    }

    .home a{
        margin-right: 6 rem;
        
    }

    .phone{
        display: flex;
        align-items: center;
    }
}
